apiai==1.2.3
Click==7.0
Flask==1.0.2
gunicorn==19.9.0
Jinja2==2.10.1
MarkupSafe==1.1.1
psycopg2==2.8.2
pymssql==2.1.4
pyodbc==4.0.26
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
virtualenv==16.5.0
virtualenvwrapper-win==1.2.5
Werkzeug==0.15.2
