apiai==1.2.3
asn1crypto==0.24.0
Authlib==0.11
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
defusedxml==0.5.0
Django==2.2.2
Flask==1.0.2
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==1.2.0
-e git+https://github.com/heroku/kafka-helper@70aa539540e7d6517f0c3c1900617767ab198b6c#egg=kafka_helper
lxml==4.3.3
MarkupSafe==1.1.1
numpy==1.16.4
onelogin==1.8.1
pandas==0.24.2
pkgconfig==1.5.1
psutil==5.6.2
psycopg2==2.8.2
pycparser==2.19
pymssql==2.1.4
python-dateutil==2.7.3
python-dotenv==0.10.3
pytz==2019.1
requests==2.20.1
scikit-learn==0.21.3
scipy==1.3.1
six==1.12.0
sqlparse==0.3.0
urllib3==1.24.3
virtualenv==16.5.0
virtualenvwrapper-win==1.2.5
Werkzeug==0.15.2
xgboost==0.90
