body {
    background-color: rgb(179, 179, 179);
    margin: 0;
    padding: 0;
}
.logininput{
    border: none;
    outline: none;
    height: 35px;
    background: #fff;
    padding: 0 0 0 0;
    color: #fff;
    font-size: 18px;
    width: 220px;
}

.loginButton {

    border: none;
    outline: none;
    height: 35px;
    background: #0078D2;
    padding: 0 0 0 0;
    color: #fff;
    font-size: 18px;
    width: 220px;
}

.hide{
    display: none;
    visibility: hidden;
}

.show{
    background: #fff;

}