
<html>
<link rel="stylesheet" href="{{ url_for('static',filename='forgotpassword.css') }}">
<form action="/usercheck" method="post">
    <input type="text" placeholder="User ID" name="userName"
           class="logininput user" id="userName" value="" />
    <input type="Submit" class="loginButton" id="login-screen"
           value="submit" />
</form>
<form action="/passwordChange" method="post">
    <div class="{{output}}">
        <div>
            <input type="password" class="form-control demo-2" id="inputPassword3" />
        </div>
        <div>
            <input type="password" class="form-control demo-2" id="inputPassword3" />
        </div>
    </div>
</form>
</html>
