<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bookingapp</title>
<link rel="stylesheet"  href="{{ url_for('static',filename='index_styles.css') }}">
</head>
<body style="background-color: #9DA6AB;">
	<div class="login" style="border-color: cyan;">
        <form action="/loginCred" method="post">
            <div class="user-pwd">
                <input type="text" placeholder="User ID" name="userName"
                       class="logininput user" id="userName" value="" />
            </div>
            <div class="user-pwd">
                <input type="Password" placeholder="Password" name="Password"
                       class="logininput user" id="Password" value="" />
            </div>
            <div style="padding: 20px 0 0 0; ">
                <input type="Submit" class="loginButton" id="login-screen"
                       value="Login" />
            </div>
            <div id="result">{{output}}</div>
            <div style="text-align :center" ;>
                <div style="display: inline" ;>
                    <a href="forgotpassword">forgotpassword</a>
                </div>
                <div style="display: inline" ;>
                    &nbsp; &nbsp; new users
                </div>
            </div>
            </div>
</form>
            <div style="margin-left: 40px;" id="error-nwl"></div>
    
    
</body>
</html>